USE [metodo Caso PyME en comercio minorista]
GO
/****** Object:  Table [dbo].[LogsUsuarios]    Script Date: 20/10/2025 10:54:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsUsuarios](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](100) NOT NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[FechaHora] [datetime] NULL,
	[Tabla] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogsUsuarios] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
